<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="text-center">My Bike Path Router</h3>
		</div>
	</div>
	<div class="row">
		<div id="map"></div>
		<div id="floating-panel">
			<b>Start: </b>
			<input type="text" id="start" class ="form-control" value="Current Location">
			<b>End: </b>
			<input type="text" id="end" class="form-control">
		</div>
		<div id="dynamic">
		</div>
	</div>

	<script src="https://www.google.com/jsapi"></script>
	<script>google.load('visualization', '1', {packages: ['linechart']});</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5r5234G4KwLjTkmJ2Fa9y-8NkqavSjEM&callback=getLocation">
	</script>

</div>
