<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="text-center">My Bike Path Router</h3>
		</div>
	</div>
	<div class="row">
		<div id="map"></div>
	</div>

	<script>
	var map;
	function getLocation() {
	    if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(initMap);
	    } else {
	        x.innerHTML = "Geolocation is not supported by this browser.";
	    }
	}

    function initMap(position) {
				var directionsServices= new google.maps.DirectionsServices;
				var directionsDisplay= new google.maps.DirectionsRenderer;
        var uluru = {lat: position.coords.latitude, lng: position.coords.longitude};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
				directionsDisplay.setMap(map);
				var onChangeHandler = function() {
				 calculateAndDisplayRoute(directionsService, directionsDisplay);
			 };
			 document.getElementById('start').addEventListener('change', onChangeHandler);
			 document.getElementById('end').addEventListener('change', onChangeHandler);
      }

		function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
          origin: document.getElementById('start').value,
          destination: document.getElementById('end').value,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5r5234G4KwLjTkmJ2Fa9y-8NkqavSjEM&callback=getLocation">
    </script>
</div>
