<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="text-center">My Bike Path Router</h3>
		</div>
	</div>
	<div class="row">
		<div id="map"></div>
		<div id="floating-panel">
    <b>Start: </b>
    <input type="text" id="start" class ="form-control" value="Current Location">
		<b>End: </b>
		<input type="text" id="end" class="form-control">
    </div>
	</div>

	<script>
	var map;
	var directionsService;
	var directionsDisplay;
	var currLocation;
	function saveLocation(position){
		currLocation= {lat: position.coords.latitude, lng: position.coords.longitude};
		initMap();
	}
	$('.getDirections').on('submit',calculateAndDisplayRoute);
	function getLocation() {
	    if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(saveLocation);
	    } else {
	        x.innerHTML = "Geolocation is not supported by this browser.";
	    }
	}

    function initMap() {
				directionsService= new google.maps.DirectionsService;
				directionsDisplay= new google.maps.DirectionsRenderer;
				var position = getLocation();
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: currLocation
        });
        var marker = new google.maps.Marker({
          position: currLocation,
          map: map
        });
				directionsDisplay.setMap(map);

				var onChangeHandler = function() {
          calculateAndDisplayRoute();
        };
        document.getElementById('start').addEventListener('change', onChangeHandler);
        document.getElementById('end').addEventListener('change', onChangeHandler);
      }

		function calculateAndDisplayRoute() {
			var start=document.getElementById('start').value;
			var end=document.getElementById('end').value;
			if(start === "Current Location"){
				start = currLocation;
			}
        directionsService.route({
          origin: start,
          destination: end,
          travelMode: 'BICYCLING',
					provideRouteAlternatives: true
        }, function(response, status) {
          if (status === 'OK') {
						var routesSteps=[];
						var routes=response.routes;
	          var colors = ['red', 'green', 'blue'];
						for (var i=0;i<routes.length;i++){

							directionsDisplay.setDirections(response);

                new google.maps.DirectionsRenderer({
                    map: map,
                    directions: response,
                    routeIndex: i,
                    polylineOptions: {

                        strokeColor: colors[i],
                        strokeWeight: 4,
                        strokeOpacity: .3
                    }
                });

                var steps = routes[i].legs[0].steps;
                var stepsCoords = [];

                for (var j = 0; j < steps.length; j++) {

                    stepsCoords[j] = new google.maps.LatLng(steps[j].start_location.lat(), steps[j].start_location.lng());

                    new google.maps.Marker({
                        position: stepsCoords[j],
                        map: map,
                        icon: {
                            path: 'M-20,0a20,20 0 1,0 40,0a20,20 0 1,0 -40,0',
                            scale: .2,
                            fillColor: colors[i],
                            fillOpacity: .3,
                            strokeWeight: 0
                        },
                        title: steps[j].maneuver
                    });
                }

                routesSteps[i] = stepsCoords;

						}
						for(var x=0;x<routesSteps.length;x++){
							for(var y=0;y<routesSteps[x].length;y++){
								console.log(routesSteps[x][y].lat,routesSteps[x][y].lng);
							}
						}
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5r5234G4KwLjTkmJ2Fa9y-8NkqavSjEM&callback=getLocation">
    </script>

</div>
