<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h3 class="text-center">My Bike Path Router</h3>
		</div>
	</div>
	<div class="row">
		<div id="map"></div>
		<form action="calculateAndDisplayRoute">
  Start Location: <input type="text" name="fname"><br>
  Destination: <input type="text" name="lname"><br>
  <input type="submit" value="Submit">
</form>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
		</div>
	</div>
	<script>
	var map;
	var directionsServices;
	car directionsDisplay;
	function getLocation() {
	    if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(initMap);
	    } else {
	        x.innerHTML = "Geolocation is not supported by this browser.";
	    }
	}

    function initMap(position) {
				directionsServices= new google.maps.DirectionsServices;
				directionsDisplay= new google.maps.DirectionsRenderer;
        var uluru = {lat: position.coords.latitude, lng: position.coords.longitude};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
				directionsDisplay.setMap(map);
      }

		function calculateAndDisplayRoute() {
        directionsService.route({
          origin: document.getElementById('start').value,
          destination: document.getElementById('end').value,
          travelMode: 'BIKING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5r5234G4KwLjTkmJ2Fa9y-8NkqavSjEM&callback=getLocation">
    </script>

</div>
